name: Ada (GNAT)

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - uses: alire-project/setup-alire@07dce19367176a30a01e9713646503a39a725209

    - name: Build
      run: alr build

